version: "3.9"

services:
  backend:
    image: samsz07/ex-pense-be:latest
    container_name: expense-backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    image: samsz07/ex-pense-fe:latest
    container_name: expense-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30
