apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fe-expense-hpa
  namespace: expense-tracker
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fe-expense
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
